[cache]
LOCAL_DATA_DIR = /opt/graphite/storage/whisper/
WHITELISTS_DIR = /opt/graphite/storage/lists/
CONF_DIR       = /opt/graphite/conf/
LOG_DIR        = /opt/graphite/logs/
PID_DIR        = /opt/graphite/run/

ENABLE_LOGROTATION = True

USER =
MAX_CACHE_SIZE = inf
MAX_UPDATES_PER_SECOND = 1000
MAX_UPDATES_PER_SECOND_ON_SHUTDOWN = 5000
MAX_CREATES_PER_MINUTE = 1000

LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = 2003

ENABLE_UDP_LISTENER = False
UDP_RECEIVER_INTERFACE = 0.0.0.0
UDP_RECEIVER_PORT = 2003
PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = 2004
LOG_LISTENER_CONNECTIONS = True
USE_INSECURE_UNPICKLER = False

CACHE_QUERY_INTERFACE = 0.0.0.0
CACHE_QUERY_PORT = 7002
USE_FLOW_CONTROL = True

LOG_UPDATES = False
LOG_CACHE_HITS = False
LOG_CACHE_QUEUE_SORTS = False

CACHE_WRITE_STRATEGY = sorted
WHISPER_AUTOFLUSH = False
WHISPER_FALLOCATE_CREATE = True

AMQP_VERBOSE = False
ENABLE_AMQP = True
AMQP_HOST = localhost
AMQP_PORT = 5672
AMQP_VHOST = /sensu
AMQP_USER = sensu
AMQP_PASSWORD = sensu
AMQP_EXCHANGE = metrics_gt
AMQP_METRIC_NAME_IN_BODY = True

[cache:b]
LINE_RECEIVER_PORT = 2103
PICKLE_RECEIVER_PORT = 2104
CACHE_QUERY_PORT = 7102

[relay]
LOCAL_DATA_DIR = /opt/graphite/storage/whisper/
WHITELISTS_DIR = /opt/graphite/storage/lists/
CONF_DIR       = /opt/graphite/conf/
LOG_DIR        = /opt/graphite/logs/
PID_DIR        = /opt/graphite/run/
ENABLE_LOGROTATION = True

LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = 2013
PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = 2014
LOG_LISTENER_CONNECTIONS = False
RELAY_METHOD = aggregated-consistent-hashing
REPLICATION_FACTOR = 1
DESTINATIONS = 127.0.0.1:2004:a, 127.0.0.1:2104:b
MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_QUEUE_SIZE = 10000
USE_FLOW_CONTROL = True

[aggregator]
LOCAL_DATA_DIR = /opt/graphite/storage/whisper/
WHITELISTS_DIR = /opt/graphite/storage/lists/
CONF_DIR       = /opt/graphite/conf/
LOG_DIR        = /opt/graphite/logs/
PID_DIR        = /opt/graphite/run/
ENABLE_LOGROTATION = True

LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = 2023
PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = 2024

LOG_LISTENER_CONNECTIONS = False
FORWARD_ALL = True

DESTINATIONS = 127.0.0.1:2004
REPLICATION_FACTOR = 1
MAX_QUEUE_SIZE = 10000
USE_FLOW_CONTROL = True
MAX_DATAPOINTS_PER_MESSAGE = 500
MAX_AGGREGATION_INTERVALS = 5
